.header {
  width: 100%;
  .main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    &_list {
      display: flex;
      flex: 1;
      max-width: 50%;
      justify-content: space-around;
      border: 1px solid red;
    }
    &_item {
      text-align: center;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
    &_link {
      text-align: center;
    }
  }
  h1 {
    font-size: 3rem;
    color: green;
    text-align: center;
    margin-top: 50px;
  }
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
}

